<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    <h2>Email</h2>
    <p><input id="email" type="text" name="email"></p>
    <h2>Password</h2>
    <p><input id="password" type="text" name="password"></p>
    <input type="submit" key="submit" value="Log In">
</form>